.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  height: 400px;
  width: 400px;
  background-color: rgb(105, 207, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.wrapper h2 {
  color: beige;
  font-size: 1.8rem;
}

.wrapper input {
  height: 40px;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: cornsilk 2px solid;
}

.wrapper input:hover {
  border: rgb(155, 151, 136) 2px solid;
}

.wrapper .icon {
  position: absolute;
  top: 47%;
  right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.wrapper form button {
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid rgb(155, 151, 136);
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.wrapper form button:hover {
  background-color: rgb(243, 236, 236);
}

.link {
  color: rgb(21, 22, 22);
  text-decoration: none;
  font-size: 1.1rem;
}

.pass_span {
  position: absolute;
  bottom: 30%;
  font-size: 0.7rem;
  color: red;
}

.email_span {
  position: absolute;
  top: 30%;
  font-size: 0.7rem;
  color: red;
}
