table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(52 211 153);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin: 20px 0;
}

#icon_death,
#icon_confirmed,
#icon_recovered {
  position: absolute;
  top: 19%;
  cursor: pointer;
}

#icon_death {
  left: 53%;
}

#icon_recovered {
  left: 75%;
}

#icon_confirmed {
  left: 95%;
}
